/*первая страница*/

div {
    margin: 5px;
    float: left;
    border: 1px solid red;
}

.span-navigation {
    margin: 5px;
    border: 1px solid blue;
    position: relative;
    float: right;
}

/*input {    height: auto;    width: auto;}*/

/*первый блок*/

#counter_text {
    margin: 5px;
    color: #1daa97;
    font-size: 32px;
}

/*убрала формат кнопки
.button-increment {
    height: 60px;
    width: 250px;
    font-size: 20px;
    position:unset;
}
*/
.slider {
    margin: 5px;
    display: flex;
    /*?*/
}

/*второй блок*/

img {
    margin: 5px;
    float: inline-start;
    max-width: 100%;
    /*width:6.2%;*/
    /*size-adjust:unset;*/
}

#form-text {
    margin: 5px;
    color: #540cda
}

/*третий блок*/

#list-tasks {
    margin: 5px;
    color: #c8143ed9;
}

th,
td {
    margin: 5px;
    border-style: inset;
    text-align-last: center;
}

/*страницы и дата*/

.navigation {
    margin: 5px;
    float: right;
}

#button-showdate {
    margin: 5px;
    position: sticky;
    top: 0px;
    right: 0px;
    float: right;
}